.time-grid {
  position: relative;
  height: 100%;
}

.time-slot {
  position: relative;
  height: 60px;
  display: flex;
  align-items: flex-start;
}

.time-label {
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 0.75rem;
  color: #a3a3a3;
  font-weight: 500;
  width: 60px;
  text-align: right;
  padding-right: 1rem;
}

.time-line {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}
